.about{
    padding: 100px 20px;
    background: white;
}

.about-container{
    max-width: 1200px;
    margin: auto;
    display: flex;
    align-items: center;
    gap: 60px;
    flex-wrap: wrap;
}

.about-image img{
    width: 500px;
    border-radius: 20px;
    box-shadow: 0 20px 40px rgba(0,0,0,0.1);
}

.about-content{
    flex: 1;
}

.about-content h2{
    font-size: 2.5rem;
    margin-bottom: 20px;
    color: #0f172a;
}

.about-content p{
    margin-bottom: 20px;
    color: #475569;
    line-height: 1.6;
}

.abou-stats{
    display: flex;
    gap: 40px;
    margin-top: 30px;
}

.abou-stats h3{
    color: #2563eb;
    font-size: 1.8rem;
}

.abou-stats span{
    color: #64748b;
    font-size: 14px;
}

@media (max-width: 768px) {
    .about-container{
        flex-direction: column;
        text-align: center;
    }

    .about-image img{
        width: 100%;
    }

    .abou-stats{
        justify-content: center;
    }
}